{% extends 'base.html.twig' %}

{% block title %}Edit Address
{% endblock %}

{% block body %}
	<div class="parent-container">
		<div class="demi-cercle"></div>
		<div class="form-container">
			<h1>Edit Address</h1>
			{{ form_start(addressForm) }}
			<div class="form-group">
				{{ form_widget(addressForm) }}
			</div>
			<button type="submit" class="btn btn-update">Save Changes</button>
			{{ form_end(addressForm) }}

	<a href="{{ path('app_profile') }}" class="back-link">Back to Profile</a>
	</div>
{% endblock %}
