{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Politique de Confidentialité</h1>
		<p>
			Cette politique de confidentialité explique comment notre entreprise utilise les données personnelles collectées auprès de vous lorsque vous utilisez notre site web.
		</p>

		<h2>Quelles données collectons-nous ?</h2>
		<p>
			Notre entreprise collecte les données suivantes :
			<ul>
				<li>Informations d'identification personnelle (Nom, adresse email, adresse de livraison/facturation, etc.)</li>
				<!-- Ajouter d'autres types de données que je collecte -->
			</ul>
		</p>

		<h2>Comment collectons-nous vos données ?</h2>
		<p>
			Vous fournissez directement à notre entreprise la plupart des données que nous collectons. Nous collectons et traitons des données lorsque vous :
			<ul>
				<li>Vous inscrivez en ligne ou passez une commande pour l'un de nos produits ou services.</li>
				<li>Volontairement complétez un sondage client ou fournissez des commentaires sur l'un de nos messages ou via email.</li>
				<!-- Ajouter d'autres méthodes de collecte de données -->
			</ul>
		</p>

		<h2>Comment utiliserons-nous vos données ?</h2>
		<p>
			Notre entreprise utilise vos données de manière à :
			<ul>
				<li>Traiter vos commandes, gérer votre compte.</li>
				<li>Email vous concernant des produits ou services que nous pensons pourraient vous intéresser.</li>
				<!-- Ajouter d'autres utilisations des données -->
			</ul>
		</p>

		<!-- Les autres sections pertinentes à la politique -->

		<h2>Politique de cookies</h2>
		<p>
			Les cookies sont des fichiers texte placés sur votre ordinateur pour collecter des informations de visite standard sur Internet et des informations sur le comportement des visiteurs. Lorsque vous visitez nos sites web, nous pouvons collecter des informations auprès de vous automatiquement via des cookies ou une technologie similaire.
		</p>

		<p>
			Pour plus d'informations, visitez allaboutcookies.org.
		</p>

		<h2>Politiques de confidentialité d'autres sites web</h2>
		<p>
			Notre site web contient des liens vers d'autres sites web. Notre politique de confidentialité s'applique uniquement à notre site web, donc si vous cliquez sur un lien vers un autre site web, vous devriez lire leur politique de confidentialité.
		</p>

		<h2>Modifications de notre politique de confidentialité</h2>
		<p>
			Notre entreprise met à jour régulièrement sa politique de confidentialité et place toute mise à jour sur cette page web. Cette politique de confidentialité a été mise à jour pour la dernière fois le [date].
		</p>

		<h2>Comment nous contacter</h2>
		<p>
			Si vous avez des questions sur la politique de confidentialité de notre entreprise, les données que nous détenons sur vous, ou si vous souhaitez exercer l'un de vos droits de protection des données, n'hésitez pas à nous contacter.
		</p>

		<p>Email : contact@votreentreprise.com</p>
	</div>
{% endblock %}
