{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Conditions Générales de Vente</h1>

		<h2>Introduction</h2>
		<p>
			Les présentes conditions générales de vente régissent toutes les transactions établies sur le catalogue web de [Nom de votre entreprise]. Tout commande passée sur ce site suppose du client son acceptation inconditionnelle et irrévocable de ces conditions.
		</p>

		<h2>Produits</h2>
		<p>
			Chaque produit est accompagné d'une description fournie par le fournisseur. Les photographies du catalogue sont les plus fidèles possibles mais ne peuvent assurer une similitude parfaite avec le produit offert, notamment en ce qui concerne les couleurs.
		</p>

		<h2>Prix</h2>
		<p>
			Les prix figurant dans le catalogue sont des prix TTC en euro tenant compte de la TVA applicable au jour de la commande. Tout changement du taux de TVA pourra être répercuté sur les prix des produits ou des services.
		</p>

		<h2>Commande</h2>
		<p>
			Le client valide sa commande lorsqu'il active le lien "Confirmer ma commande" en bas de la page "Récapitulatif de votre commande" après avoir accepté les présentes conditions générales de vente. Avant cette validation, il est systématiquement proposé au client de vérifier chacun des éléments de sa commande.
		</p>

		<!-- Continuez avec d'autres sections comme Paiement, Livraison, Retour et Remboursement, etc. -->

		<h2>Loi Applicable</h2>
		<p>
			Les présentes conditions générales de vente sont soumises à la loi du pays de l'entreprise. En cas de litige, les tribunaux du pays de l'entreprise seront seuls compétents.
		</p>

		<!-- Les autre section pertinente -->

	</div>
{% endblock %}
