{% extends 'base.html.twig' %}

{% block title %}Conditions d'Utilisation
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Conditions d'Utilisation</h1>

		<h2>Acceptation des Conditions</h2>
		<p>
			En accédant et en utilisant ce site, vous acceptez de vous conformer aux présentes conditions d'utilisation qui régissent la relation entre vous et [Nom de votre entreprise].
		</p>

		<h2>Utilisation du Site</h2>
		<p>
			Le contenu de ce site est pour votre information générale et usage personnel uniquement. Il est sujet à changement sans préavis.
		</p>

		<h2>Propriété Intellectuelle</h2>
		<p>
			Ce site contient du matériel qui nous appartient ou dont nous avons la licence. Ce matériel inclut, mais n'est pas limité à, la conception, la mise en page, l'apparence, les images et les graphiques.
		</p>

		<h2>Utilisation Autorisée</h2>
		<p>
			Toute redistribution ou reproduction d'une partie ou de la totalité du contenu sous quelque forme que ce soit est interdite autrement qu'avec notre autorisation écrite expresse.
		</p>

		<h2>Responsabilité</h2>
		<p>
			Ni nous ni aucun tiers ne fournissons une garantie quant à l'exactitude, la performance, l'exhaustivité ou l'adéquation des informations et des matériaux trouvés ou proposés sur ce site pour un but particulier.
		</p>

		<h2>Liens vers d'Autres Sites</h2>
		<p>
			Notre site peut contenir des liens vers d'autres sites d'intérêt. Cependant, une fois que vous avez utilisé ces liens pour quitter notre site, vous devez noter que nous n'avons aucun contrôle sur ces autres sites web.
		</p>

		<h2>Modification des Conditions</h2>
		<p>
			[Nom de votre entreprise] peut réviser ces conditions d'utilisation à tout moment sans préavis. En utilisant ce site web, vous acceptez d'être lié par la version actuelle de ces conditions d'utilisation.
		</p>

		<h2>Contact</h2>
		<p>
			Pour toutes questions concernant les conditions d'utilisation, veuillez nous contacter par email :
			<a href="mailto:contact@votreentreprise.com">contact@votreentreprise.com</a>.
		</p>
	</div>
{% endblock %}
