h1 {
    text-align: center;
    color: #5D5C61;
    margin-top: 40px;
    margin-bottom: 20px;
}

.form-container {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 20;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

.form-container::before,
.form-container::after {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    width: calc(50% - 55px); /* Ajuste la largeur pour qu'elle s'arrête avant le circle */
    border-top: solid 1px black;
    z-index: 30;
}

.form-container::before {
    left: 0;
    border-right: none;
    border-top-left-radius: 15px;
}

.form-container::after {
    right: 0;
    border-left: none;
    border-top-right-radius: 15px;
}

.form-circle {
    content: '';
    position: absolute;
    top: -70px; 
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 115px;
    background-color: #ffffff; 
    border-radius: 50%; 
    border: solid black 1px;
    z-index: 10; 
}
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

textarea {
    resize: none; /* Empêche la redimension du textarea */
}

input:hover, textarea:hover, select:hover {
    border-color: #a0a0a0;
}

.btn-add,
.btn-update {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.btn-add:hover,
.btn-update:hover {
    background-color: #45a049;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.back-link:hover {
    color: #0056b3;
}