h1 {
    text-align: center;
    color: #5D5C61;
    margin-bottom: 40px;
}

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

textarea {
    resize: none; /* Empêche la redimension du textarea */
}

input:hover, textarea:hover, select:hover {
    border-color: #a0a0a0;
}

.btn-add,
.btn-update {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.btn-add:hover,
.btn-update:hover {
    background-color: #45a049;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007BFF; /* Couleur bleue pour le lien */
    text-decoration: none;
    transition: color 0.3s;
}

.back-link:hover {
    color: #0056b3;
}