h2{
    text-align:center;
}
.btn-update {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5dd661;
    color: white;
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}