/* Style de base pour les filtres */
#filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
    margin-bottom: 20px;
}

#filter-form select {
    flex: 1; /* Chaque filtre prend la même largeur */
    min-width: 120px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    padding: 8px 12px; 
    background-color: #ffffff; 
    transition: border-color 0.4s, box-shadow 0.3s; /* Transition pour hover et focus */
}

#filter-form select:hover,
#filter-form select:focus {
    box-shadow: 0 
    0.4px 6px rgb(255, 217, 0); 
}

/* Bouton de filtrage */
button[type="submit"] {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
    background-color: #369b47; /* Assombrissement au survol */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* Responsive */
@media (max-width: 780px) {
    /* Réinitialiser la flexibilité pour les sélecteurs en mode responsive */
    #filter-form select {
        flex: 1 1 100%;
        margin: 5px 0;
    }

    /* "Sort" et "Page" côte à côte */
    #filter-form #sort-select,
    #filter-form #max-results-select {
        flex: 1 1 calc(100% - 5px);
    }

    /* "Price Min", "Price Max", "Page" côte à côte */
    #filter-form #price-min-select,
    #filter-form #price-max-select,
    #filter-form #max-results-select {
        flex: 1 1 calc(33% - 5px);
    }
}
