/* Styles pour le slot d'ajout de produit */
.add-product-slot {
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.07);
    transform-origin: center;
    height: auto;
    transition: transform 0.3s ease, border-color 0.3s ease;
}
.card-stock {
    position: absolute;
    top: 10px; /* Ajustez la position pour qu'elle soit au-dessus du prix */
    left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
}
.add-product-link {
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    color: #333; 
    text-decoration: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.material-symbols-outlined.plus {
    font-size: 150px; 

}

.material-symbols-outlined.plus:hover{
    animation: pulse 2s infinite ease-in-out; /* Appliquez l'animation */
}

@media (max-width: 3000px) {
    .add-product-slot {
        min-height: 200px; 
    }
}
@media (max-width: 1385px) {
    .add-product-slot {
        min-height: 200px; 
    }
}
@media (max-width: 847px) {
    .add-product-slot {
        min-height:  200px; 
    }
}

@media (max-width: 575px) {
    .add-product-slot {
        min-height: 200px;
        width: auto;
        max-width: 95%;
        transform: scale(1.05);

}
}
@media (max-width: 480px) {
    .add-product-slot {
        min-height:  200px; 
    }
}