.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border:solid 1px black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;;
}

/* Section gauche avec logo et Home */
.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo img {
  height: 50px; 
  margin-right: 20px;
}

/* Section centrale pour le nom de l'utilisateur */
.nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 20px; 
}
/* Extension de la zone de survol vers le bas avec un pseudo-élément */
.dropdown::after {
  content: "";
  position: absolute;
  bottom: -200px; /* Positionne le pseudo-élément sous l'icône */
  left: 0;
  right: 0;
  height: 200px; /* Hauteur de l'extension de la zone de survol */
  pointer-events: none; /* S'assure que le pseudo-élément ne bloque pas les interactions avec d'autres éléments */
}


.dropdown:hover .dropdown-content, .dropdown:hover::after {
  display: flex;
  pointer-events: auto; /* Active les interactions pour le menu déroulant */
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 70px; /*Pour repositionner l'icone de l'user */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
}
.dropdown-content .dropdown-item {
  display: inline-block;
  padding: 5px;
}

.dropdown-content .dropdown-item a {
  text-decoration: none; /* Supprime le soulignement du texte */
  line-height: 1.5; /* valeur pour déplacer le texte vers le bas */
}

.dropdown-content .dropdown-item span:not(.icon-text) {
  display: block;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px; /* Ajustez la valeur pour centrer le texte verticalement */
  text-align: center;
  margin: auto;
}

/* Styles pour le texte en survol */
.dropdown-content .dropdown-item .icon-text {
  display: none;
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: -20px; /* valeur pour positionner le texte en dessous de l'icône */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background: none; 
  border: none; /* Enlève les bordures */
  border-radius: 0; /* Enlève le style de cercle */
}

.dropdown-content .dropdown-item:hover .icon-text {
  display: block;
}
.dropdown:hover .dropdown-content {
  display: flex; 
}

.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px; 
}

/* Section droite pour les autres liens */
.nav-right {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.nav-item:hover {
  color: #007bff;
}

.nav-center .material-symbols-outlined.profil {
  position: absolute;
  bottom: -45px; /* Ajustez pour aligner avec le bas de la navbar */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border: 1px solid transparent !important;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
}

.nav-center .material-symbols-outlined.profil::before {
  content: '';
  position: absolute;
  top: 50%; /* Commence au milieu de l'icône */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px; /* Diamètre du cercle */
  height: 40px;
  background-color: transparent;
  border: 1px solid black !important;
  border-radius: 50%;
  z-index: -1; /* Mettre en arrière-plan */

  clip-path: inset(20px 0 0 0); /* Masquer la moitié supérieure du cercle */
}
.material-symbols-outlined.logout{
  color:red;
}
.material-symbols-outlined.my-profil, 
.material-symbols-outlined.my-products, 
.material-symbols-outlined.tracking-list {
color:black;
z-index:0;
}

@media screen and (max-width: 480px) {
  /* Réduire la taille du logo et des éléments de navigation */
  .nav-logo img {
      height: 30px;
  }
  .nav-item {
      margin: 0 10px;
      font-size: 14px;
  }
}