.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination a,
.pagination .pagination-button { /* liens et au bouton "Aller" */
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.pagination a.active,
.pagination .pagination-button.active { /* lien actif et le bouton "Aller" actif */
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover,
.pagination .pagination-button:hover { /* pour le survol */
    background-color: #ddd;
}

/* Champ de saisie pour entrer le numéro de la page */
.pagination .page-select-form {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.pagination input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

/* Cacher les boutons de contrôle de l'input[type="number"] */
.pagination input[type="number"]::-webkit-inner-spin-button,
.pagination input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

