/* Styles globaux pour la page des produits */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Crée un layout en grille responsive */
    grid-gap: 20px; /* Espace entre les cartes */
    padding: 20px;
}

.card-img-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 1; /* placer la carte est au-dessus de son pseudo-élément */
      transition: box-shadow 0.3s ease;
      background-color: white;
}

.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    transition: background 0.3s ease;
    z-index: 0;
    pointer-events: none;
}

.card:hover {
    outline: 1px solid black;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover:before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.card-hover-description {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    overflow: hidden;
    text-align: center;
}
.card-img-container:hover .card-hover-description {
    opacity: 1;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre bien toute la zone */
}

.card-user {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Effet de transition douce */
}
.card-user:hover {
    box-shadow: 0 0 0 2px white; /* Ajoute une ombre portée blanche qui agit comme un bord */
}

.card-img-container:hover .card-user, .card:hover .card-user {
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.card-price {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.icon-group {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
}

.icon-group a, .icon-group form button {
    margin-right: 5px;
    background-color: rgba(253, 253, 253, 0.7);
    border-radius: 50%;
    padding: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    text-decoration: none;
    padding: 0;
}

.icon-group a:hover,
.icon-group form button:hover {
    background-color: black;
}
.material-symbols-outlined {
    color: black;
    font-size: 24px; /* Assurez-vous que cette taille est cohérente pour toutes les icônes */
}

.material-symbols-outlined.wishlist,
.material-symbols-outlined.cart,
.material-symbols-outlined.show,
.material-symbols-outlined.cart,
.material-symbols-outlined.edit,
.material-symbols-outlined.delete {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: normal;
}
    
.material-symbols-outlined.delete {
    color: rgb(202, 5, 5);
}

.icon-group a:hover .material-symbols-outlined, .icon-group button:hover .material-symbols-outlined {
    color: white;
}

/* Styles existants */
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-group {
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    box-shadow: 0 0 0 2px white;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    transition: background-color 0.2s;
}

.btn:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.103) 100%);
    background-size: 200%;
    animation: shine 1s linear infinite;
    -webkit-animation: shine 1s linear infinite;
}


@keyframes shine {
    from {
        background-position: 100%;
    }
    to {
        background-position: -100%;
    }
}

.text-muted {
    color: #999;
}