.product-detail-title , .product-reviews {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
.product-detail-title {
    text-align: center; /* Centre le titre dans sa colonne */
    margin-bottom: 10px; /* Espacement après le titre */
}

.reviews-title,
.no-review {
    text-align: center;
}
.image-container {
    width: 100%; /* Largeur relative à l'enveloppe extérieure */
    padding-top: 75%; /* Hauteur basée sur le ratio d'aspect (450px/600px = 0.75) */
    position: relative;
    overflow: hidden;
}

.product-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius : 10px 10px 0px 0px;
    border:solid 3px black;
}
.page-layout {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes de taille égale */
    gap: 20px; /* Espace entre les colonnes */
}
.hover-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}
.image-container:hover .product-img {
    opacity: 0.3; /* Diminue l'opacité de l'image */
}

.image-container:hover .hover-info {
    transform: translateY(0);
}
/* sections et les titres */
section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.back-link {
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-control:hover {
    border-color: #a0a0a0;
}

/* commentaires des utilisateurs */
.review {
    background-color: #e9ecef;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative; /* Ajouté pour positionner correctement la ligne de séparation */
}

.review p {
    margin-bottom: 5px;
}

/* les étoiles de notation */
.fa-star {
    color: white;
    margin-right: 4px;
    text-shadow: 0 0 2px black; 
}

.fa-star.checked {
    /* dégradé de couleur */
    color: var(--star-color);
}
/* couleurs de dégradé pour chaque note */
.rating[data-rating='1'] .fa-star.checked { --star-color: red; }
.rating[data-rating='2'] .fa-star.checked { --star-color: rgb(255, 123, 0); }
.rating[data-rating='3'] .fa-star.checked { --star-color: rgb(255, 187, 0); }
.rating[data-rating='4'] .fa-star.checked { --star-color: rgb(255, 208, 0); }
.rating[data-rating='5'] .fa-star.checked { --star-color: rgb(255, 217, 0);}


.user-profile-picture {
    width: 3vw; /* Taille de base relative à la largeur de la fenêtre */
    height: 3vw;
    min-width: 60px; /* Taille minimale pour empêcher que l'image devienne trop petite */
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%; /* Rend le cadre circulaire */
    overflow: hidden;
    position: relative;
    border: 2px solid #ddd; /* Une bordure fine et élégante */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre plus marquée pour un effet de profondeur */
}

.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* photo remplit bien le cadre */
    border-radius: 50%; 
}

.user-info {
    display: flex;
    align-items: center;
}

/* bordure supplémentaire pour plus d'élégance */
.user-profile-picture::after {
    content: '';
    position: absolute;
    top: -3px; left: -3px;
    right: -3px; bottom: -3px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.7); /* Une bordure claire pour un contraste subtil */
    z-index: -1;
}

.user-info {
    display: flex;
    align-items: center;
}

.rating-title-separator {
    position: absolute; /* Positionne la ligne de séparation par rapport au .review */
    left: 0; /* à partir du bord gauche */
    right: 10px;
    width: 100%; 
    border: 1px solid #f7f7f7; 
    margin-top: 8px ; 
}
/* Conteneur pour les icônes */
.add-review-icons {
    display: flex; 
    align-items: center; 
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 5px; 
    margin-top: 20px; /* Espacement au-dessus */
}

/* Icone slide vers la guche */
.slide-icon {
    display: inline-block;
    animation: slide-and-rotate 2s ease-in-out infinite;
}

@keyframes slide-and-rotate {
    0%, 100% { 
        transform: translateX(0) rotate(-65deg); 
    }
    50% { 
        transform: translateX(-5px) rotate(-65deg); /* la gauche avec une rotation */
    }
}

.user-added-product-info {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
}

.added-product-user-profile {
    display: inline-block;
    width: 100px; 
    height: 90px;
    border-bottom: 3px solid #000000; 
    border-top: 3px solid #000000; 
    border-right: 3px solid #000000; 
    overflow: hidden; /* Cache les débordements pour garder l'image carrée */
    border-radius: 0px 0px 10px 10px; 
    margin-right: 10px;
    margin-top:12px;
}

.added-product-user-text{
    margin-top:-3px;
}

.added-product-user-img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Ajuste l'image pour couvrir entièrement l'espace sans déformation */
}

@media (max-width: 720px) {
    .page-layout {
        display: block; /* empile verticalement */
    }
}
