html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Berkshire Swash', serif;
    font-size: 42px;
}

body {
    font-family: 'Acme', serif;
    margin: 0;
    padding: 0;
    background: 
        linear-gradient(
            to bottom, 
            rgba(0, 0, 0, 0.7), 
            transparent 70%
        ),
        radial-gradient(
            circle, 
            rgba(39, 52, 80, 0.541), 
            rgb(0, 0, 0)
        );
    background-repeat: no-repeat; /* Empêche la répétition des fonds */
    background-attachment: fixed; /* Fixe le fond pour qu'il ne défile pas avec le contenu */
    background-size: cover; /* Assure que le fond couvre toute la zone */
    height: 100%; /* Couvre toute la hauteur de la page */
    min-height: 100vh; /* Assure une hauteur minimale basée sur la hauteur de la fenêtre */
}
.particle {
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgb(255, 255, 255); /* Couleur de la particule */
    border-radius: 50%;
    opacity: 0.8;
    animation: animateParticle infinite linear;
    z-index: 0;
    box-shadow: 0 0 15px 4px rgba(242, 255, 169, 0.8); /* Effet de flou lumineux */
}

@keyframes animateParticle {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(80vh); /* S'arrête avant d'atteindre le bas */
        opacity: 0; /* S'estompe avant de disparaître */
    }
}
.logo {
    border: solid 1px black;
    border-radius: 50%;
    width: 62px; 
    height: 62px; 
    overflow: hidden; /* Masque les parties de l'image qui débordent */
    display: flex; 
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 180%;
    height: auto;
    border-radius: 50%;
    filter: invert(0%) contrast(100%) brightness(200%);
}