.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 60%;
    max-width: 800px;
}

.modal-content > div {
    display: flex;
    justify-content: space-between;
}
.modal-content > .terms-content {
    margin-bottom: 20px;
}

.terms-content {
    height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    background-color: #f8f8f8;
    font-size: 14px;
    line-height: 1.6;
}

button {
    padding: 10px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    flex-basis: 48%;
}

#acceptTermsBtn {
    background-color: #5dd661;
    color: white;
}

#acceptTermsBtn:hover{
    background-color: #1fd125;
}

#acceptTermsBtn:disabled {
    background-color: #9e9e9e; /* Couleur plus claire ou grisée pour indiquer qu'il est désactivé */
    color: #cfcfcf;
    cursor: not-allowed;
}

#declineTermsBtn {
    background-color: #ff7b72;
    color: white;
}
#declineTermsBtn:hover {
    background-color: #ff5147;
    color: white;
}

button:disabled {
    background-color: #ccc;
    color: #666;
}

button span.material-symbols-outlined {
    vertical-align: middle;
    font-size: 20px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .modal-content {
        width: 90%;
        margin-top: 20%;
    }
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%;
        margin-top: 0%;
    }
    .modal-content > .terms-content, 
    .modal{
        margin-top: -5%;
    }
}