table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

thead {
    background-color: #f2f2f2;
}

th {
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

/*  titres de section */
h1, h2 {
    color: #333;
    text-align: center;
    margin-top: 30px;
}

/* détails de la commande et des informations de suivi */
.order-details, .tracking-info {
    margin: 20px auto;
    max-width: 600px;
}
.order-info {
    text-align: center;
}


/* télécharger la facture */

