h1 {
    text-align: center;
    color: #5D5C61;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    margin-top:100px;
    background-color: #f7f7f7;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 20;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

.parent-container {
    position: relative; /* Position relative pour le positionnement du demi-cercle */
}

.demi-cercle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 #ffffff;
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 5;
    margin-top:-100px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

select{
    border-radius: 5px 5px 0px 0px;
}

textarea {
    resize: none; /* Empêche la redimension du textarea */
}

input:hover, textarea:hover, select:hover {
    border-color: #a0a0a0;
}

.btn-add-review{
    cursor: pointer;
}
.btn-add-review:hover{
    color:#0056b3;
}
.icon-comment {

    font-size:40px;
  }

  .btn-post,
  .btn-update {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #238B2A;
    color: rgb(255, 255, 255);
    border: solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    font-weight:900;
}
  .btn-post:hover,
  .btn-update:hover {
    background-color: #1fa828;
}

.btn-post{
    margin-bottom:10px;
    margin-top:-20px;
}
.btn-edit{
    margin-top:10px;
    margin-bottom:10px;
}

.btn-update{
    margin-top:-2px;
}
.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.back-link:hover {
    color: #0056b3;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(50px);}
    50% {opacity: 0.5; transform: translateY(-5px);} 
    100% {opacity: 1; transform: translateY(0);} 
}

.btn, .demi-cercle {
    animation: fadeIn 2s ease-out;
}

.product-image-container{
animation: fadeIn 3s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(-50%, -40%) rotate(45deg);
        /*Commenceplusbas*/
}
    to {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(45deg);
         /* Position finale */
        }
}

.demi-cercle {
    animation: fadeInUp 1s ease-in-out;
}