{% block body %}
	<div class="container">

		<h1>General Terms and Conditions of Sale</h1>
		<h2>Introduction</h2>
		<p>
		These general terms and conditions of sale govern all transactions conducted on the web catalog of "Craftmen." Any order placed on this website implies the client's unconditional and irrevocable acceptance of these conditions.
		</p>
		<h2>Products</h2>
		<p>
		Each product is accompanied by a description provided by the supplier. The catalog photographs are as faithful as possible but cannot guarantee a perfect similarity with the offered product, especially concerning colors.
		</p>
		<h2>Prices</h2>
		<p>
		The prices listed in the catalog are inclusive of VAT in euros, taking into account the applicable VAT rate on the day of the order. Any change in the VAT rate may be reflected in the prices of products or services.
		</p>
		<h2>Order</h2>
		<p>
		The client validates their order when they activate the "Confirm my order" link at the bottom of the "Summary of your order" page after accepting these general terms and conditions of sale. Before this validation, the client is systematically offered the opportunity to check each element of their order.
		</p>
		<h2>Applicable Law</h2>
		<p>
		These general terms and conditions of sale are subject to the law of the country of the company. In case of a dispute, the courts of the country of the company shall have exclusive jurisdiction.
		</p>

		<!-- Privacy Policy -->
		<h1>Privacy Policy</h1>
		<p>
			This privacy policy explains how our company uses the personal data collected from you when you use our website.
		</p>

		<h2>What Data Do We Collect?</h2>
		<p>
			Our company collects the following data:
			<ul>
				<li>Personal identification information (Name, email address, delivery/billing address, etc.)</li>
			</ul>
		</p>

		<h2>How Do We Collect Your Data?</h2>
		<p>
			You directly provide most of the data we collect to our company. We collect and process data when you:
			<ul>
				<li>Register online or place an order for one of our products or services.</li>
				<li>Voluntarily complete a customer survey or provide feedback on any of our messages or via email.</li>
			</ul>
		</p>

		<h2>How Will We Use Your Data?</h2>
		<p>
			Our company uses your data to:
			<ul>
				<li>Process your orders, manage your account.</li>
				<li>Email you about products or services that we think might interest you.</li>
			</ul>
		</p>

		<h2>Cookie Policy</h2>
		<p>
			Cookies are text files placed on your computer to collect standard internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.
		</p>

		<p>
			For more information, visit allaboutcookies.org.
		</p>

		<h2>Privacy Policies of Other Websites</h2>
		<p>
			Our website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.
		</p>

		<h2>Changes to Our Privacy Policy</h2>
		<p>
			Our company regularly updates its privacy policy and posts any updates on this web page. This privacy policy was last updated on [date].
		</p>

		<h2>How to Contact Us</h2>
		<p>
			If you have any questions about our company's privacy policy, the data we hold on you, or if you would like to exercise any of your data protection rights, please do not hesitate to contact us.
		</p>

		<p>Email: contact@yourcompany.com</p>
	</div>
{% endblock %}
