{% extends 'base.html.twig' %}

{% block title %}Order confirmed
{% endblock %}

{% block body %}
	<h1>Thank you for your order</h1>
	<p>Your order has been received and is being processed.</p>
{% endblock %}
