{% extends 'base.html.twig' %}

{% block title %}Payment Failed
{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="parent-container">
            <div class="demi-cercle"></div>
    {% endif %}
        <div class="form-container">
	<h1>Payment Failed</h1>
	<p>There was a problem processing your payment. Please try again or contact support if the problem persists.</p>
	<a href="{{ path('payment') }}" class="btn back-link">Try Again</a>
{% endblock %}
