{% extends 'base.html.twig' %}

{% block title %}Payment Successful
{% endblock %}

{% block body %}
	<h1>Payment Successful</h1>
	<p>Your payment has been processed successfully. Thank you for your order!</p>
	<a href="{{ path('home') }}" class="btn btn-back">Return to Home</a>
{% endblock %}
